*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container{
    margin: auto;
}
h1{
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    border-bottom: 2px solid ;
    width: 140px;
    margin: auto;
    padding-bottom: 10px;
    color: #89705b;
    font-weight: 700;
}

h3{
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    padding-top: 30px;
}


.container__group{
    width: 77.5%;
    margin: auto;
    /* background-color: skyblue; */
    height: 1100px;
    margin-top: 50px;
}
.container__group-flex{
    height: 50%;
    width: 100%;
    /* background-color: springgreen; */
    display: flex;
}
.container__group-flex-item{
    height: 100%;
    width: 30%;
    /* background-color: tomato; */
    margin: auto;
    border-bottom: 2px solid #777;
}
.container__group-flex-item-img{
    height: 55%;
    width: 100%;
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.container__group-flex-item-title{
    color: skyblue;
    font-weight: 600;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 13px;
}
.container__group-flex-item-text{
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
}
.container__group-flex-item-img2{
    background-image: url(../img/img2.png);
}
.container__group-flex-item-img3{
    background-image: url(../img/img3.png);
}
.container__group-flex-item-img4{
    background-image: url(../img/img4.jpg);
}
.container__group-flex-item-img5{
    background-image: url(../img/img5.jpg);
}
.container__group-flex-item-img6{
    background-image: url(../img/img6.png);
}
.view{
    width: 140px;
    height: 47.5px;
    background-color: #777;
    margin: auto;
    margin-top: 50px;
    border-radius: 12.5px;
    text-align: center;
    line-height: 47.5px;
    color: #fff;
    /* font-weight: 600; */
    text-transform: uppercase;
    font-size: 19px;
    background-color: #89705b;
    font-weight: 700;
}



/* responsive */

@media (min-width:991px) and (max-width:1200px ) {
    .container__group-flex{
        height: 47.5%;
    }
    .container__group-flex-item-img{
        height: 40%;
    }

}



@media (min-width:767px) and (max-width:992px) {
    .container__group-flex{
        height: 55%;
      
    }
    .container__group-flex-item-img{
        height: 40%;
    }
    .container__group-flex-item{
        width: 27.5%;
    }
    .container__group{
        width: 70%;
    }
    .view{
        position: relative;
        top:80px
    }

}




@media (min-width:575px) and (max-width:768px ) {
    .container__group-flex{
        height: 62.5%;
        
    }
    .container__group-flex-item-img{
        height: 40%;
    }
    .container__group-flex-item{
        width: 31%;
    }
    .view{
        position: relative;
        top:200px
    }

}




@media(max-width:577px ) {
    h3{
        font-size: 16px;
    }
    .container__group-flex{
        display: inline;
    
    }
    .container__group-flex-item{
        width: 100%;
        height: 50%;
    }
    .container__group-flex-item{
        height: 45%;
        margin-bottom: 50px;
    }
    .view{
        position: relative;
        top:1650px
    }
}
